<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.serviceModel>
    <services>
      <service name="DBService.Service1" behaviorConfiguration="MyBehavior">
        <endpoint address="http://localhost:9000/Services/MsdnRoles" binding="basicHttpBinding" bindingConfiguration="NewBinding0" contract="DBService.IService1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <!--Секция включает использование кастомного провайдера ролей-->
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="CustomProvider" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="DBService.PasswordValidator, DBService" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="DB" providerName="System.Data.SqlClient" connectionString="server=localhost;database=MessengerDB;Integrated Security=SSPI" />
    <add name="EFDB" providerName="System.Data.SqlClient" connectionString="server=localhost;database=EFMessengerDB;Integrated Security=SSPI" />
    <!--MultipleActiveResultSets разрешает множественные наборы данных для подключения, нам не надо-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <roleManager enabled="true" defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="DBService.CustomRoleProvider, DBService" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>