<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        name="DBService.Service1"
        behaviorConfiguration="MyBehavior">
        <endpoint
          address="http://localhost:9000/Services/MsdnRoles"
          binding="basicHttpBinding"
          bindingConfiguration="NewBinding0"
          contract="DBService.IService1" />
      </service>
    </services>  
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <!--Секция включает использование кастомного провайдера ролей-->
          <serviceAuthorization 
            principalPermissionMode="UseAspNetRoles" 
            roleProviderName="CustomProvider" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="DBService.PasswordValidator, DBService" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" >
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  
  <connectionStrings>
    <add
      name="DB"
      providerName="System.Data.SqlClient"
      connectionString="server=localhost;database=MessengerDB;Integrated Security=SSPI;MultipleActiveResultSets=true"/>
    <!--MultipleActiveResultSets разрешает множественные наборы данных для подключения-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true"/>
    <roleManager
      enabled="true"
      defaultProvider="CustomProvider">
      <providers>
        <add
          name="CustomProvider"
          type="DBService.CustomRoleProvider, DBService" />
      </providers>
    </roleManager>
  </system.web>
</configuration>