<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" >
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service 
        behaviorConfiguration="MyBehavior" 
        name="DBWcfService.Service1">
        <endpoint 
          address="http://localhost:9000" 
          binding="basicHttpBinding" 
          bindingConfiguration="NewBinding0"
          contract="DBWcfService.IService1" />
        <endpoint 
          address="mex" 
          binding="mexHttpBinding" 
          contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceCredentials>
            <userNameAuthentication 
              userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="DBWcfService.PasswordValidator, DBWcfService" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add 
      name="DB" 
      providerName="System.Data.SqlClient" 
      connectionString="server=localhost;database=MessengerDB;Integrated Security=SSPI" />
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <roleManager 
      enabled="true" 
      defaultProvider="CustomProvider">
      <providers>
        <add 
          name="CustomProvider" 
          type="DBWcfService.CustomRoleProvider, DBWcfService" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
