<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9000/Services/MsdnRoles"
                binding="basicHttpBinding"
                bindingConfiguration="security"
                contract="DBService.IService1"/>
    </client>
    <!--credentials over clear text transport - only for testing purposes!!! -->
    <bindings>
      <basicHttpBinding>
        <binding name="security">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>